body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 60%;
    background: white;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

.btn, button {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
